/FtcRobotController/
/.gradle/
/.idea/
/doc/
/gradle/
/libs/
/TeamCode/lib/
/TeamCode/src/main/res/
/TeamCode/src/main/AndroidManifest.xml
/TeamCode/build.gradle
/build.common.gradle
/build.dependencies.gradle
/build.gradle
/gradlew
/gradle.properties
/gradlew.bat
/LICENSE
/README.md
/local.properties
/settings.gradle
